@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");

.formSection {
  width: 200px;
}
.text-color {
  color: #a17dd4;
  text-decoration: none;
}
.fontSize {
  font-size: 12px;
}
.buttonSalta {
  background-color: #6a528c;
  border: none;
  text-decoration: none;
}

.backImg {
  background-image: url("./assets/img.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.colorButton {
  background-color: #d6f1dc;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  box-shadow: inset 2px 10px 5px -9px rgba(0, 0, 0, 0.57);
}

.fontNavbar {
  list-style: none;
  display: flex;
  gap: 1rem;

  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.LoginNavBar {
  list-style: none;
  display: flex;
  gap: 1rem;

  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  text-align: center;
}
.backGroundColor {
  background-color: #d6f1dc;
}
html {
  background-color: #d6f1dc;
}
.nav-link:hover {
  color: #503279;
}
.buttonSearch {
  background-color: rgba(255, 255, 255, 0.423);
  border: 1px solid white;
  color: #503279;
}
.searchBar {
  background-color: rgba(255, 255, 255, 0.423);
  border: 1px solid white;
  color: #503279;
}
.module3d-container {
  background-image: url("./assets/img.svg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding: 20px;
}
.iconColor {
  color: #8641e8;
  font-size: 25px;
}
.cursor-pointer {
  cursor: pointer;
  color: #d6f1dc;
}
