.formSection {
  width: 200px;
}
.text-color {
  color: #a17dd4;
  text-decoration: none;
}
.fontSize {
  font-size: 12px;
}
.buttonSalta {
  background-color: #6a528c;
}
.backImg {
  background-image: url("./assets/img.svg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
